apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: arr-stack
  namespace: arr-stack
spec:
  chart:
    spec:
      chart: app-template
      version: "4.4.0"
  values:
    controllers:
      radarr:
        containers:
          radarr:
            image:
              repository: lscr.io/linuxserver/radarr
              tag: "5.28.0"
            env:
              PUID: "1000"
              PGID: "1000"
              TZ: "${TIMEZONE}"
      sonarr:
        containers:
          sonarr:
            image:
              repository: lscr.io/linuxserver/sonarr
              tag: "4.0.16"
            env:
              PUID: "1000"
              PGID: "1000"
              TZ: "${TIMEZONE}"
      lidarr:
        containers:
          lidarr:
            image:
              repository: lscr.io/linuxserver/lidarr
              tag: "8.1.2135"
            env:
              PUID: "1000"
              PGID: "1000"
              TZ: "${TIMEZONE}"
      bazarr:
        containers:
          bazarr:
            image:
              repository: lscr.io/linuxserver/bazarr
              tag: "1.5.3"
            env:
              PUID: "1000"
              PGID: "1000"
              TZ: "${TIMEZONE}"
      prowlarr:
        containers:
          prowlarr:
            image:
              repository: lscr.io/linuxserver/prowlarr
              tag: "2.1.5"
            env:
              PUID: "1000"
              PGID: "1000"
              TZ: "${TIMEZONE}"
      rdt-client:
        containers:
          rdt-client:
            image:
              repository: ghcr.io/rogerfar/rdtclient
              tag: "2.0.119"
            env:
              PUID: "1000"
              PGID: "1000"
              TZ: "${TIMEZONE}"
      aria2-pro:
          containers:
            aria2-pro:
              image:
                repository: ghcr.io/p3terx/aria2-pro
                tag: "202209060423"
              env:
                PUID: "1000"
                PGID: "1000"
                TZ: "${TIMEZONE}"
                RPC_SECRET: "${ARIA2_RPC_SECRET}"
                UPDATE_TRACKERS: "false"
    service:
      radarr:
        controller: radarr
        type: ClusterIP
        ports:
          http:
            port: 7878
      sonarr:
        controller: sonarr
        type: ClusterIP
        ports:
          http:
            port: 8989
      lidarr:
        controller: lidarr
        type: ClusterIP
        ports:
          http:
            port: 8686
      bazarr:
        controller: bazarr
        type: ClusterIP
        ports:
          http:
            port: 6767
      prowlarr:
        controller: prowlarr
        type: ClusterIP
        ports:
          http:
            port: 9696
      rdt-client:
        controller: rdt-client
        type: ClusterIP
        ports:
          http:
            port: 6500
      aria2-pro:
        controller: aria2-pro
        type: ClusterIP
        ports:
          http:
            port: 6800

    persistence:
      radarr-config:
        enabled: true
        storageClass: longhorn
        size: 1Gi
        accessMode: ReadWriteOnce
        advancedMounts:
          radarr:
            radarr:
              - path: /config
      sonarr-config:
        enabled: true
        storageClass: longhorn
        size: 1Gi
        accessMode: ReadWriteOnce
        advancedMounts:
          sonarr:
            sonarr:
              - path: /config
      lidarr-config:
        enabled: true
        storageClass: longhorn
        size: 1Gi
        accessMode: ReadWriteOnce
        advancedMounts:
          lidarr:
            lidarr:
              - path: /config
      bazarr-config:
        enabled: true
        storageClass: longhorn
        size: 1Gi
        accessMode: ReadWriteOnce
        advancedMounts:
          bazarr:
            bazarr:
              - path: /config
      prowlarr-config:
        enabled: true
        storageClass: longhorn
        size: 1Gi
        accessMode: ReadWriteOnce
        advancedMounts:
          prowlarr:
            prowlarr:
              - path: /config
      rdt-client-config:
        enabled: true
        storageClass: longhorn
        size: 1Gi
        accessMode: ReadWriteOnce
        advancedMounts:
          rdt-client:
            rdt-client:
              - path: /data/db
      media:
        enabled: true
        type: nfs
        server: "${NFS_SERVER}"
        path: /media/arr-media

    ingress:
      radarr:
        className: "nginx"
        hosts:
          - host: &radarr radarr.internal.${PUBLIC_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: radarr
                  port: http
        tls:
          - secretName: ${CERT_SECRET_NAME}
            hosts:
            - *radarr
      sonarr:
        className: "nginx"
        hosts:
          - host: &sonarr sonarr.internal.${PUBLIC_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: sonarr
                  port: http
        tls:
          - secretName: ${CERT_SECRET_NAME}
            hosts:
            - *sonarr
      lidarr:
        className: "nginx"
        hosts:
          - host: &lidarr lidarr.internal.${PUBLIC_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: lidarr
                  port: http
        tls:
          - secretName: ${CERT_SECRET_NAME}
            hosts:
            - *lidarr
      bazarr:
        className: "nginx"
        hosts:
          - host: &bazarr bazarr.internal.${PUBLIC_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: bazarr
                  port: http
        tls:
          - secretName: ${CERT_SECRET_NAME}
            hosts:
            - *bazarr
      prowlarr:
        className: "nginx"
        hosts:
          - host: &prowlarr prowlarr.internal.${PUBLIC_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: prowlarr
                  port: http
        tls:
          - secretName: ${CERT_SECRET_NAME}
            hosts:
            - *prowlarr
      rdt-client:
        className: "nginx"
        hosts:
          - host: &rdt rdt.internal.${PUBLIC_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: rdt-client
                  port: http
        tls:
          - secretName: ${CERT_SECRET_NAME}
            hosts:
            - *rdt
      aria2-pro:
        className: "nginx"
        hosts:
          - host: &aria aria.internal.${PUBLIC_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: aria2-pro
                  port: http
        tls:
          - secretName: ${CERT_SECRET_NAME}
            hosts:
            - *aria