apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
  namespace: immich
spec:
  chart:
    spec:
      chart: immich
      version: "0.10.2"
  values:
    controllers:
      main:
        containers:
          main:
            env:
              DB_HOSTNAME: ${IMMICH_POSTGRES_SERVICE}
              DB_DATABASE_NAME: immich
              DB_USERNAME: immich
              DB_PASSWORD: ${IMMICH_DATABASE_PASSWORD}
            image:
              # renovate: datasource=docker depName=ghcr.io/immich-app/immich-server
              tag: v2.2.1
    immich:
      persistence:
        library:
          existingClaim: nfs-immich-pvc
      configuration:
          storageTemplate:
            enabled: true
          job:
            thumbnailGeneration:
              concurrency: 20
          oauth:
            enabled: true
            issuerUrl: "https://auth.${PUBLIC_DOMAIN}/application/o/immich/"
            clientId: "${IMMICH_CLIENT_ID}"
            clientSecret: "${IMMICH_CLIENT_SECRET}"
            autoLaunch: true
            mobileOverrideEnabled: true
            mobileRedirectUri: "https://photos.${PUBLIC_DOMAIN}/api/oauth/mobile-redirect"

    valkey:
      enabled: true
      persistence:
        data:
          enabled: true
          storageClass: "longhorn"

    server:
      enabled: true
      controllers:
        main:
          containers:
            main:
              resources:
                limits:
                  memory: 4096Mi
                requests:
                  cpu: 200m
                  memory: 256Mi
      ingress:
        main:
          enabled: true
          className: nginx
          hosts:
            - host: &host "photos.${PUBLIC_DOMAIN}"
              paths:
                - path: /
                  pathType: Prefix
                  service:            
                    identifier: main
                    port: http
          tls: 
            - secretName: "${CERT_SECRET_NAME}"
              hosts:
              - *host
      persistence:
        ext-dslr-ro:
          enabled: true
          type: nfs
          server: "${NFS_SERVER}"
          path: /media/Photos/dslr
          readOnly: true
          
    machine-learning:
      enabled: true
      controllers:
        main:
          containers:
            main:
              resources:
                limits:
                  memory: 4096Mi
                requests:
                  cpu: 200m
                  memory: 256Mi
      persistence:
        cache:
          enabled: true
          size: 10Gi
          type: persistentVolumeClaim
          accessMode: ReadWriteMany
          storageClass: "longhorn"

